@model X.PagedList.PagedList<Projekti_TI_2_Posta.Models.Porosia.GetPorosiaModel>
@using X.PagedList.Mvc.Core;
@using X.PagedList;
@using X.PagedList.Mvc.Bootstrap4.Core
@using Microsoft.AspNetCore.Identity
@using Projekti_TI_2_Posta.Infrastructure.Identity
@using System.Security.Claims;

@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Posta</title>
    <link rel="icon" href="https://i.imgur.com/jBR7KVA.png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script src="https://kit.fontawesome.com/4e3ee5c344.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Paaji+2&family=Mochiy+Pop+P+One&family=Open+Sans+Condensed:wght@300&family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    <link href="~/css/style.css" rel="stylesheet" type="text/css">

</head>

<body id="page-top">
    <div id="wrapper">
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
            <a class="sidebar-brand d-flex align-items-center justify-content-center" asp-action="index"
               asp-controller="Admin">
                <div class="sidebar-brand-text mx-3">Posta </div>
            </a>

            <hr class="sidebar-divider my-0">

            <li class="nav-item">
                <a class="nav-link" asp-action="index" asp-controller="Admin">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span>
                </a>
            </li>

            <hr class="sidebar-divider">

            <li class="nav-item">
                @if (User.IsInRole("Customer"))
                {
                    <a class="nav-link active" asp-action="GetAllPorosi" asp-controller="Porosia" style="color: #fff !important;" asp-route-Id="@User.FindFirst(ClaimTypes.NameIdentifier).Value">
                        <i class="fas fa-fw fa-book" style="color: #fff !important;"></i>
                        <span>Porosia</span>
                    </a>
                }
                else if (User.IsInRole("Postier"))
                {
                    <a class="nav-link active" asp-action="GetAllPorosi" asp-controller="Porosia" style="color: #fff !important;" asp-route-Id2="@User.FindFirst(ClaimTypes.NameIdentifier).Value">
                        <i class="fas fa-fw fa-book" style="color: #fff !important;"></i>
                        <span>Porosia</span>
                    </a>
                }
                else if (User.IsInRole("Admin"))
                {
                    <a class="nav-link active" asp-action="GetAllPorosi" asp-controller="Porosia" style="color: #fff !important;">
                        <i class="fas fa-fw fa-book" style="color: #fff !important;"></i>
                        <span>Porosia</span>
                    </a>
                }
            </li>



            @if (User.IsInRole("Admin"))
            {
                <li class="nav-item">
                    <a class="nav-link" asp-action="GetCustomers" asp-controller="Admin">
                        <i class="fas fa-fw fa-users"></i>
                        <span>Konsumatoret</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-action="GetPostier" asp-controller="Admin">
                        <i class="fas fa-fw fa-users"></i>
                        <span>Postierat</span>
                    </a>
                </li>
            }

            <hr class="sidebar-divider d-none d-md-block">

            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>
        </ul>

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search"
                          asp-action="GetAllPorosi" asp-controller="Porosia" method="get">
                        <div class="input-group">
                            <input type="search" class="form-control bg-light border-0 small" placeholder="Search for..."
                                   aria-label="Search" aria-describedby="basic-addon2" name="search">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="submit">
                                    <i class="fas fa-search fa-sm"></i>
                                </button>
                            </div>
                        </div>
                    </form>

                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item dropdown no-arrow d-sm-none">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw"></i>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                                 aria-labelledby="searchDropdown">
                                <form class="form-inline mr-auto w-100 navbar-search">
                                    <div class="input-group">
                                        <input type="text" class="form-control bg-light border-0 small"
                                               placeholder="Search for..." aria-label="Search"
                                               aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button">
                                                <i class="fas fa-search fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>

                        <li>
                            <button id="sq" type="button" class="btn pt-3 pr-0"><img src="https://www.countryflags.com/wp-content/uploads/albania-albanian-flag-png-square-large.png" width="40px" height="40px" style="border-radius:25px;"></button>
                            <button id="en" type="button" class="btn pt-3 pl-1"><img src="https://upload.wikimedia.org/wikipedia/en/thumb/a/a4/Flag_of_the_United_States.svg/2560px-Flag_of_the_United_States.svg.png" width="40px" height="40px" style="border-radius:25px;"></button>
                        </li>

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">@User.Identity.Name</span>
                                <img class="img-profile rounded-circle" src="https://i.imgur.com/2botPDD.png">
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                 aria-labelledby="userDropdown">
                                <a id="manage" class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Profile
                                </a>
                                <div class="dropdown-divider"></div>
                                <form id="logoutForm" class="dropdown-item" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                                    <button type="submit" class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"> </button>Logout
                                </form>
                            </div>
                        </li>
                    </ul>
                </nav>
                <!-- End of Topbar -->

                @if (User.IsInRole("Customer"))
                {
                    <div class="container-fluid">

                        <a class="btn myBtn text-right" asp-controller="Porosia" asp-action="CreatePorosi">
                            Add New
                        </a>
                        <div class="table-responsive myTable">
                            <h6 style="color: #495057; font-weight: bold">Porosit e pa regjistruara</h6>
                            <table class="table table-hover">
                                <thead class="thead-light table-borderless" style="color: #495057;">
                                    <tr>
                                        <th>Emri</th>
                                        <th>Mbiemri</th>
                                        <th>Emertimi</th>
                                        <th>Nr i Telefonit</th>
                                        <th>Adresa</th>
                                        <th>Qyteti</th>
                                        <th>Shteti</th>
                                        <th>Gjendja</th>
                                    </tr>
                                </thead>
                                <tbody class="table-borderless">
                                    @foreach (var porosi in Model)
                                    {
                                        @if (porosi.ERegjistruar == false)
                                        {
                                            <tr>
                                                <td>@porosi.Emri</td>
                                                <td>@porosi.Mbiemri</td>
                                                <td>@porosi.Emertimi</td>
                                                <td>@porosi.NrTelefonit</td>
                                                <td>@porosi.Adresa</td>
                                                <td>@porosi.Qyteti</td>
                                                <td>@porosi.Shteti</td>
                                                <td>
                                                    @if (porosi.ERegjistruar == true)
                                                    {
                                                        <p>E Regjistruar</p>
                                                    }
                                                    else
                                                    {
                                                        <p>E pa regjistuar</p>
                                                    }
                                                </td>
                                            </tr>

                                        }
                                    }
                                </tbody>
                            </table>

                            <div class="table-responsive myTable">
                                <h6 style="color: #495057; font-weight: bold">Porosit e regjistruara</h6>
                                <table class="table table-hover">
                                    <thead class="thead-light table-borderless" style="color: #495057;">
                                        <tr>
                                            <th>Emri</th>
                                            <th>Mbiemri</th>
                                            <th>Emertimi</th>
                                            <th>Nr i Telefonit</th>
                                            <th>Adresa</th>
                                            <th>Qyteti</th>
                                            <th>Shteti</th>
                                            <th>Statusi</th>
                                            <th>Data e krijimit</th>
                                            <th>Pages ndaj postes</th>
                                        </tr>
                                    </thead>
                                    <tbody class="table-borderless">
                                        @foreach (var porosi in Model)
                                        {
                                            @if (porosi.ERegjistruar == true)
                                            {
                                                <tr>

                                                    <td>@porosi.Emri</td>
                                                    <td>@porosi.Mbiemri</td>
                                                    <td>@porosi.Emertimi</td>
                                                    <td>@porosi.NrTelefonit</td>
                                                    <td>@porosi.Adresa</td>
                                                    <td>@porosi.Qyteti</td>
                                                    <td>@porosi.Shteti</td>
                                                    <td>
                                                        @if (porosi.EDerguar == true)
                                                        {
                                                            <p style="color:dimgrey;">E Derguar</p>
                                                        }
                                                        else
                                                        {
                                                            <p style="color:red;">E pa Derguar</p>
                                                        }
                                                    </td>
                                                    <td>@porosi.InsertData</td>
                                                    <td>@porosi.Pagesa  €</td>

                                                </tr>
                                            }
                                        }
                                    </tbody>
                                    @if (Model.Count > 0)
                                    {
                                        <tfoot>
                                            <tr>
                                                <td colspan="10">
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <p style="padding-top:8px; float:left;"> @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount pages</p>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="float-right">
                                                                @Html.PagedListPager((IPagedList)Model, page => Url.Action("", new { page }), Bootstrap4PagedListRenderOptions.Classic)
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tfoot>
                                    }
                                </table>
                            </div>
                        </div>
                    </div>
                }

                @if (User.IsInRole("Postier"))
                {
                    <div class="container-fluid">
                        <div class="table-responsive myTable">
                            <h6 style="color: #495057; font-weight: bold">Te gjitha porosit</h6>
                            <table class="table table-hover">
                                <thead class="thead-light table-borderless" style="color: #495057;">
                                    <tr>
                                        <th>Emri</th>
                                        <th>Mbiemri</th>
                                        <th>Emertimi</th>
                                        <th>Nr i Telefonit</th>
                                        <th>Adresa</th>
                                        <th>Qyteti</th>
                                        <th>Shteti</th>
                                        <th>Gjendja</th>
                                    </tr>
                                </thead>
                                <tbody class="table-borderless">
                                    @foreach (var porosi in Model)
                                    {
                                        @if (porosi.EDerguar == false)
                                        {
                                            <tr>
                                                <td>@porosi.Emri</td>
                                                <td>@porosi.Mbiemri</td>
                                                <td>@porosi.Emertimi</td>
                                                <td>@porosi.NrTelefonit</td>
                                                <td>@porosi.Adresa</td>
                                                <td>@porosi.Qyteti</td>
                                                <td>@porosi.Shteti</td>
                                                <td>
                                                    <a class="btn btn-primary" asp-action="UpdatePorosiById" asp-controller="Porosia" asp-route-id="@porosi.ID">Dergo</a>
                                                </td>

                                            </tr>
                                        }
                                    }
                                </tbody>
                                @if (Model.Count > 0)
                                {
                                    <tfoot>
                                        <tr>
                                            <td colspan="8">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <p style="padding-top:8px; float:left;"> @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount pages</p>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="float-right">
                                                            @Html.PagedListPager((IPagedList)Model, page => Url.Action("", new { page }), Bootstrap4PagedListRenderOptions.Classic)
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </tfoot>
                                }
                            </table>
                        </div>
                        <div class="table-responsive myTable">
                            <h6 style="color: #495057; font-weight: bold">Porosit e derguara</h6>
                            <table class="table table-hover">
                                <thead class="thead-light table-borderless" style="color: #495057;">
                                    <tr>
                                        <th>Emri</th>
                                        <th>Mbiemri</th>
                                        <th>Emertimi</th>
                                        <th>Nr i Telefonit</th>
                                        <th>Adresa</th>
                                        <th>Qyteti</th>
                                        <th>Shteti</th>
                                        <th>E Derguar</th>
                                    </tr>
                                </thead>
                                <tbody class="table-borderless">
                                    @foreach (var porosi in Model)
                                    {
                                        @if (porosi.EDerguar != false)
                                        {
                                            <tr>
                                                <td>@porosi.Emri</td>
                                                <td>@porosi.Mbiemri</td>
                                                <td>@porosi.Emertimi</td>
                                                <td>@porosi.NrTelefonit</td>
                                                <td>@porosi.Adresa</td>
                                                <td>@porosi.Qyteti</td>
                                                <td>@porosi.Shteti</td>
                                                <td>@porosi.EDerguar</td>

                                            </tr>
                                        }
                                    }
                                </tbody>
                                @if (Model.Count > 0)
                                {
                                    <tfoot>
                                        <tr>
                                            <td colspan="8">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <p style="padding-top:8px; float:left;"> @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount pages</p>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="float-right">
                                                            @Html.PagedListPager((IPagedList)Model, page => Url.Action("", new { page }), Bootstrap4PagedListRenderOptions.Classic)
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </tfoot>
                                }
                            </table>
                        </div>
                    </div>
                }

                @if (User.IsInRole("Admin"))
                {
                    <div class="container-fluid">
                        <div class="table-responsive myTable">
                            <h6 style="color: #495057; font-weight: bold">Porosit e paregjistruara</h6>
                            <table class="table table-hover">
                                <thead class="thead-light table-borderless" style="color: #495057;">
                                    <tr>

                                        <th>Klienti</th>
                                        <th>Emri</th>
                                        <th>Mbiemri</th>
                                        <th>Emertimi</th>
                                        <th>Nr i Telefonit</th>
                                        <th>Adresa</th>
                                        <th>Qyteti</th>
                                        <th>Shteti</th>
                                        <th>Gjendja</th>
                                        <th>Data e krijimit</th>

                                    </tr>
                                </thead>
                                <tbody class="table-borderless">
                                    @foreach (var porosi in Model)
                                    {
                                        @if (porosi.ERegjistruar == false)
                                        {
                                            <tr>
                                                <td>
                                                    @{
                                                        var user = await UserManager.FindByIdAsync(porosi.UserID);
                                                        <p>@user.FirstName @user.LastName</p>

                                                    }
                                                </td>
                                                <td>@porosi.Emri</td>
                                                <td>@porosi.Mbiemri</td>
                                                <td>@porosi.Emertimi</td>
                                                <td>@porosi.NrTelefonit</td>
                                                <td>@porosi.Adresa</td>
                                                <td>@porosi.Qyteti</td>
                                                <td>@porosi.Shteti</td>
                                                <td>
                                                    <a class="btn btn-primary" asp-action="UpdatePorosiById" asp-controller="Porosia" asp-route-id="@porosi.ID">Regjistro</a>
                                                </td>
                                                <td>@porosi.InsertData</td>

                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>

                        <div class="table-responsive myTable">
                            <h6 style="color: #495057; font-weight: bold">Porosit e regjistruara</h6>
                            <table class="table table-hover">
                                <thead class="thead-light table-borderless" style="color: #495057;">
                                    <tr>
                                        <th>Klienti</th>
                                        <th>Emri</th>
                                        <th>Mbiemri</th>
                                        <th>Emertimi</th>
                                        <th>Nr i Telefonit</th>
                                        <th>Adresa</th>
                                        <th>Qyteti</th>
                                        <th>Shteti</th>
                                        <th>Regjistruar</th>
                                    </tr>
                                </thead>
                                <tbody class="table-borderless">
                                    @foreach (var porosi in Model)
                                    {
                                        @if (porosi.ERegjistruar == true)
                                        {
                                            <tr>
                                                <td>
                                                    @{
                                                        var user = await UserManager.FindByIdAsync(porosi.UserID);
                                                        <p>@user.FirstName @user.LastName</p>

                                                    }
                                                </td>
                                                <td>@porosi.Emri</td>
                                                <td>@porosi.Mbiemri</td>
                                                <td>@porosi.Emertimi</td>
                                                <td>@porosi.NrTelefonit</td>
                                                <td>@porosi.Adresa</td>
                                                <td>@porosi.Qyteti</td>
                                                <td>@porosi.Shteti</td>
                                                <td>@porosi.ERegjistruar</td>

                                            </tr>
                                        }
                                    }
                                </tbody>
                                @if (Model.Count > 0)
                                {
                                    <tfoot>
                                        <tr>
                                            <td colspan="9">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <p style="padding-top:8px; float:left;"> @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount pages</p>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="float-right">
                                                            @Html.PagedListPager((IPagedList)Model, page => Url.Action("", new { page }), Bootstrap4PagedListRenderOptions.Classic)
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </tfoot>
                                }
                            </table>
                        </div>
                    </div>
                }
            </div>
            <!-- End of Main Content -->
            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; 2022 | Posta</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->
    </div>
    </div>
    <!-- End of Page Wrapper -->
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Custom scripts for all pages-->
    <script src="~/js/script.js" type="text/javascript"></script>
</body>

</html>






